# Environment variables
WORKSPACE_ID=cb800e78-8e21-46f0-af5d-534487b4de34
CONVERSATION_USERNAME=b9520cbe-ad1e-47eb-b6ae-ea1e4f2eb189
CONVERSATION_PASSWORD=AOeSgNzC6WJQ

###################################################
# Optional params, delete any which are not used! #
###################################################

# Params to enable Text to Speech
TEXT_TO_SPEECH_USERNAME=
TEXT_TO_SPEECH_PASSWORD=

# Params to enable Speech to Text
SPEECH_TO_TEXT_USERNAME=
SPEECH_TO_TEXT_PASSWORD=
